section 
{
    text-align: center;
}

body
{
    overflow:scroll; 
    background-image: url("https://images.unsplash.com/photo-1600224374823-211f85c16521?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1942&q=80");background-repeat:no-repeat;
}

.game--container 
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width:450px;
    margin: 80px auto;
}

.cell 
{
    width: 150px;
    height: 150px;
    border: 10px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 140px;
}
.cell:hover,.cell:focus
{
    opacity: 0.1;

}

