{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tictactoe</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
</head>
<body>
    <h5 type="button" class="alert alert-light" style="text-align: center; margin-top:1%">Home</h5>
    <h1 style="margin-top: 3%; text-align: center">Tictactoe!</h1>
    <section>
        <div class="game--container">
            <div data-cell-index="0" class="cell">
            </div>
            <div data-cell-index="1" class="cell">
            </div>
            <div data-cell-index="2" class="cell">
            </div>
            <div data-cell-index="3" class="cell">
            </div>
            <div data-cell-index="4" class="cell">
            </div>
            <div data-cell-index="5" class="cell">
            </div>
            <div data-cell-index="6" class="cell">
            </div>
            <div data-cell-index="7" class="cell">
            </div>
            <div data-cell-index="8" class="cell">
            </div>
        </div>
        <button class="btn btn-primary" id="restart" style="margin-bottom: 2%;">Restart Game</button>
    </section>


</body>
<script src="{% static 'game.js' %}"></script>

</html>
