{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="bg">
        <br><br>
    <h2 type="button" class="alert alert-light" style="text-align: center; margin-right: 30%; margin-left: 30%; margin-bottom: 10%;">Back to Gallery</h2>
    
    {% if messi %}
    <div class="container" style="margin-left: auto; margin-right: auto;">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/1.jpg' %}" id="myImg1" class="card-img-top" alt="..." >
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/2.jpg' %}" id="myImg2" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/3.jpg' %}" id="myImg3" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/4.jpg' %}" id="myImg4" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/5.jpg' %}" id="myImg5" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/6.jpg' %}" id="myImg6" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/7.jpg' %}" id="myImg7" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'messi/8.jpg' %}" id="myImg8" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div> 
    {% endif %}

    {% if ronaldo %}
    <div class="container" style="margin-left: 8%; margin-right: 8%;">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/1.jpg' %}" id="myImg1" class="card-img-top" alt="..." >
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/2.jpg' %}" id="myImg2" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/3.jpg' %}" id="myImg3" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/4.jpg' %}" id="myImg4" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/5.jpg' %}" id="myImg5" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/6.jpg' %}" id="myImg6" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/7.jpg' %}" id="myImg7" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'ronaldo/8.jpg' %}" id="myImg8" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if lewan %}
    <div class="container" style="margin-left: 8%; margin-right: 8%;">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/1.jpg' %}" id="myImg1" class="card-img-top" alt="..." >
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/2.jpg' %}" id="myImg2" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/3.jpg' %}" id="myImg3" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/4.jpg' %}" id="myImg4" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/5.jpg' %}" id="myImg5" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/6.jpg' %}" id="myImg6" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/7.jpg' %}" id="myImg7" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-stretch" id="card">
                <div class="card">
                    <img src="{% static 'lewan/8.jpg' %}" id="myImg8" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <span class="previous" style="size:10%;">&#8249;</span>
        <span class="next" style="size:10%;">&#8250;</span>
  
    </div>
    </div> 
</body>
<script src="{% static 'gallery.js' %}"></script>
</html>