{% extends "tasks/layout.html" %}

{% block body %}
    <h1 class="alert alert-light" style="margin-top: 10px; text-align: center; margin-right: 600px; margin-left: 600px">To-Do List</h1>
    <div class="col">
        <div class="alert alert-warning" role="alert">
            <h3>Uncompleted Tasks:</h3>
            <ul>
                {% for task in data %}
                    {% if not task.status %}
                    <li>
                        {{task.task_info}}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="col">
        <div class="alert alert-warning" role="alert">
            <h3>Completed Tasks:</h3>
            <ul>
                {% for task in data %}
                    {% if task.status %}
                    <li>{{task.task_info}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        
    <div class="col">       
    <form action="{% url 'tasks:index' %}" method="post">
        {% csrf_token %}
        <div style="text-align:center; margin-right: 200px; margin-left: 200px">
            <label for="form" class="alert alert-danger">Add to To-Do list:</label><br>
            <input type="text" name="new_task" class="form-control" placeholder="Enter here">
            <button type="submit" class="btn btn-primary" style="opacity:0.8;margin-top:20px;text-align:center;margin-bottom: 20px;">Submit</button>
        </div>
    </form>
    </div>

    <div class="col">       
        <form action="{% url 'tasks:done' %}" method="post">
            {% csrf_token %}
            <div style="text-align:center; margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
                <label for="form" class="alert alert-danger">Select completed task:</label><br>
                <select class="form-select" aria-label="Default select example" name="done_task">
                    <option selected>Select the task</option>
                    {% for task in data %}
                    {% if not task.status %}
                        <option value={{task.task_number}}>{{task.task_info}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary" style="margin-top:20px;text-align:center">Update</button>
            </div>
        </form>
    </div>
    <div style="text-align:center">
        <a href="{% url 'tasks:clearall' %}" class="btn btn-primary" style="margin-bottom:20px">Clear all</a>
    </div>
{% endblock %}
